<div class="page-header">
	<h1>Reset Password</h1>
</div>
<form name="regForm" ng-hide="reset.hide" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>
	<div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
		<!-- Password Input -->
		<label>Password:</label>
		<input type="password" class="form-control" ng-disabled="reset.disabled" name="firstPassword" ng-model="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minlength="8" ng-maxlength="35" placeholder="please enter password" required>
		<p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
		<ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
			<li>Must contain at least one upper case letter</li>
			<li>Must contain at least one lower case letter</li>
			<li>Must contain at least one number</li>
			<li>Must contain at least one special character</li>
			<li>Must contain at least 8 characters but no more than 35</li>
		</ul>
	</div>
	<br>
	<div ng-class="{'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.confirmPassword.$error.required && regForm.$submitted)}">
		<!-- Confirm Password Input -->
		<label>Confirm Password:</label>
		<input type="password" class="form-control" ng-disabled="reset.disabled" name="confirmPassword" ng-model="confirm" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" placeholder="please enter confirm password" required>
		<p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
		<p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
	</div>
	<br>
	<button type="submit" class="btn btn-primary" ng-disabled="reset.disabled">Reset Password</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="reset.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading....</p>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.successMsg">
	<div class="alert alert-success">{{reset.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.errorMsg">
	<div class="alert alert-danger">{{reset.errorMsg}}</div>
</div>